<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" >
           <listeners>
               <listener class-name="utility.Listener" />
               <listener class-name="utility.Listeners" />
           </listeners>

  	<test name="Random Test">
		<classes>
       		<!-- 	-->
       			<class name="spreeuitest.HomeTest" />
       			<class name="spreeuitest.ProductTest" />
            <class name="spreeuitest.RegistrationTest" />
            <class name="spreeuitest.SmokeTest" />
				  
		</classes>
  	</test> <!-- Test -->
</suite> <!-- Suite -->
